/* background settings */
.background {
    background-image: linear-gradient(to bottom, white, rgb(255, 237, 200));
}
/* navbar selectors */
.navbar {
    background-image: linear-gradient(to bottom, rgb(159, 228, 164), rgb(89, 152, 70));
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar a:hover {
    background-color: white;
    color: black;
}

/* About section container */
.about-container {
    background-color: beige;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 10px gray;
    max-width: 800px;
    margin: 0 auto;
}
.about-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
.about-container p {
    font-size: 16px;
}

/* Logo styling */
.logo-link {
    display: block; 
    margin-top: 10px;
}
.logo-link img {
    height: 100px;
    display: block;
    margin-left: 10px;
    margin-top: 70px;
    transition: transform 0.3s ease-in-out;
}
.logo-link img:hover {
    transform: scale(1.1);
}

/* Home Page Image container */
.image-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    flex-wrap: wrap;
}
.image-container img {
    flex: 1;
    width: calc(15% - 10px);
    height: auto;
    object-fit: cover;
    margin: 2px;
    box-shadow: 0 10px 10px gray;
    transition: transform 0.3s ease-in-out;
}
.image-container img:hover {
    transform: scale(1.02);
}
.centered-title {
    font-family: 'Georgia', serif;
    font-size: 2.5em;
    text-align: center;
    margin: 10px 0;
    text-shadow: 2px 2px 4px gray;
}

/* Contact page Header */
.contact-title {
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    text-align: center;
}

/* Container for map and contact info */
.contact-container {
    display: flex;
    width: 100%;
    align-items: center; 
    padding: 20px;
    border: 10px;
}
.image-wrapper {
    flex: 1;
    padding-right: 0 20px;
}
.info-wrapper {
    flex: 2;
    padding-left: 20px;
}
.info-wrapper p, address {
    font-size: clamp(14px, 2vw, 24px);
}
.image-wrapper img {
    max-width: 100%;
    height: auto;
}

/* stories selectors */
.story {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.story img {
    width: 50%;
    height: auto;
}
.text-container {
    border-radius: 25px;
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.text-container h1 {
    font-family: cursive,sans;
}

/* sticky footer */
footer {
    position: fixed;
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, rgb(176, 176, 176), gray);
    color: #fff;
    padding: 1rem;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
